* {
  box-sizing: border-box;
}

.container {
  width: 620px;
  margin: 0 auto;
}

.page {
  display: flex;
  flex-direction: column;
  min-width: 640px;
  min-height: 170vh;
  margin: 0;
  font-family: "Verdana", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #f2f2f2;
  background-color: #17161a;
}

.section-title {
  width: 100%;
  margin: 0;
  margin-bottom: 10px;
  margin-left: 100px;
  padding: 0;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
}

a {
  color: #235d76;
}

a:focus {
  outline-color: #b6aaff;
}

.page-header {
  margin-bottom: 40px;
  color: #333333;
  background-color: #ffffff;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}

.page-header .container {
  padding-top: 40px;
  padding-bottom: 40px;
  background-image: url("img/akl.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  background-size: 250px 180px;
}

.page-header a {
  font-size: 16px;
  line-height: 24px;
}

.page-title {
  margin: 0;
  margin-bottom: 4px;
  padding: 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
}

.about {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 32px;
 }

.about-image {
   width: 147px;
   height: 147px;
   border-radius: 50%;
   margin-left: 100px;
 }

.about-content {
   width: 410px;
   font-size: 14px;
   line-height: 24px;
 }

.about-content p {
   margin: 0;
   margin-bottom: 12px;
   padding: 0;
 }

.status {
  margin-bottom: 32px;
}

.status p {
  margin: 0;
  padding-top: 12px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;
  border-radius: 32px 0;
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  color: #333333;
  background-color: #e9edf5;
  margin-left: 100px;
  margin-right: 400px;
}

.contacts {
  margin-bottom: 82px;
}

.contacts img {
  width: 146px;
  height: 146px;
  margin-right: 24px;
}

.contacts p {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
}

/* ---------------------------------------------- /*
 *Scroll Down
/* ---------------------------------------------- */

.scroll-down {
	position: absolute;
	left: 50%;
	bottom: 50px;
	border: 2px solid #fff;
	border-radius: 50%;
	height: 50px;
	width: 50px;
	margin-left: -15px;
	display: block;
	z-index: 10;
    text-align: center;
}

.scroll-down span{
    position: relative;
    color: #fff;
    -webkit-animation-name: drop;
	-webkit-animation-duration: 1s;
	-webkit-animation-timing-function: linear;
	-webkit-animation-delay: 0s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-play-state: running;
	animation-name: drop;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-play-state: running;
}

@-webkit-keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

@keyframes drop	{
	0%   { top:0px;  opacity: 0;}
	30%  { top:10px; opacity: 1;}
	100% { top:25px; opacity: 0;}
}

/* ---------------------------------------------- /*
 * General Styles
/* ---------------------------------------------- */

.pfblock {
	padding: 120px 0 100px;
}

.pfblock-gray {
	background: #acd7e6;
}

.pfblock-image {
	padding: 0;
}

.pfblock-header {
	text-align: center;
	margin: 0 0 60px;
}

.pfblock-header-left {
	text-align: left;
}

.pfblock-header-left .pfblock-line {
	width: inherit;
	margin: 30px 0;
}

.pfblock-title{
  font-weight: 800;
}

.pfblock-subtitle {
	font-family: Raleway, "Times New Roman", Times, sans-serif;
	font-style: normal;
	font-size: 18px;
}

.iconbox {
	background: #fff;
	border-bottom: 1px solid #d4d4d4;
	text-align: center;
	padding: 40px 20px;
	margin: 0 0 20px;
}

.iconbox-icon {
	margin: 0 0 15px;
	font-size: 32px;
	color: #222;
}

.iconbox-title {
	margin: 0 0 15px;
	padding: 0;
}

#status {
	background-image: url(../images/preloader.gif);
	background-position: center;
	background-repeat: no-repeat;
	height: 200px;
	left: 50%;
	margin: -100px 0 0 -100px;
	position: absolute;
	top: 50%;
	width: 200px;
}

/* ---------------------------------------------- */

.contacts a {
  font-size: 16px;
  line-height: 24px;
}

/* ---------------------------------------------- /*
 * Styles Contacts
/* ---------------------------------------------- */

.set_11_buttons {
	margin-top: 0px;
  margin-left: 100px;
  }
  .set_11_buttons > a {
	position: relative;
	font-size: 25px;
	text-align: center;
	display: inline-block;
	color: white;
	z-index: 1;
	border-radius: 50%;
	background: rgba(0, 0, 0, 0.3);
	border: 0 none;
	line-height: 55px;
	margin: 10px;
	width: 55px;
	height: 55px;
	-webkit-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
  }
  .set_11_buttons > a::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 0 none;
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transform: rotate(0deg);
	transform: rotate(0deg);
	-webkit-transition: 0.5s all ease-in-out;
	-moz-transition: 0.5s all ease-in-out;
	-o-transition: 0.5s all ease-in-out;
	transition: 0.5s all ease-in-out;
	z-index: -1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
  }
  .set_11_buttons > a:hover::before {
	background: #02c39a;
	border-radius: 0;
	border: 0;
	-webkit-transform: rotate(225deg);
	-moz-transform: rotate(225deg);
	-ms-transform: rotate(225deg);
	-o-transform: rotate(225deg);
	transform: rotate(225deg);
  }
  .set_11_buttons > a.github:hover::before {
	background: #0d2636;
  }
  .set_11_buttons > a.email:hover::before {
	background: #02c39a;
  }

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

/*---------------*/
/***** Bubba *****/
/*---------------*/

figure.effect-bubba {
	background: #9e5406;
}

figure.effect-bubba img {
	opacity: 0.7;
	-webkit-transition: opacity 0.35s;
	transition: opacity 0.35s;
}

figure.effect-bubba:hover img {
	opacity: 0.4;
}

figure.effect-bubba figcaption::before,
figure.effect-bubba figcaption::after {
	position: absolute;
	top: 30px;
	right: 30px;
	bottom: 30px;
	left: 30px;
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
}

figure.effect-bubba figcaption::before {
	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

figure.effect-bubba figcaption::after {
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	-webkit-transform: scale(1,0);
	transform: scale(1,0);
}

figure.effect-bubba h2 {
	padding-top: 10%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,-20px,0);
	transform: translate3d(0,-20px,0);
    color: #fff;
}

figure.effect-bubba p {
	padding: 20px 2.5em;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-bubba:hover figcaption::before,
figure.effect-bubba:hover figcaption::after {
	opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-bubba:hover h2,
figure.effect-bubba:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

/*--------------------------------*/
/***** Portfolio Common style *****/
/*--------------------------------*/

.grid {
	position: relative;
	clear: both;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 100%;
	list-style: none;
	text-align: center;
}

.grid h2{
    font-size: 20px;
}

.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 100%;
	max-width: 100%;
	height: auto;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: auto;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

  /* ---------------------------------------------- */

  .viavi_share {
    width:100% !important;
    overflow:hidden;
    margin:0px auto;
    margin-left: 100px;
  }
  .viavi_share .Vbtn .viavi_bg_button div {
    font-size:16px;
    color:rgb(124, 124, 124);
  }
  /*=======================*/

  /*=== MB share buttons ===*/
.viavi_share .Vbtn {
  background:#DCE0E0;
  position:relative;
  float:left;
  margin:0 7px 14px;
  width:150px;
  height:40px; 
  cursor:pointer;
  overflow:hidden;
  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  border-radius:3px;
}
.viavi_share .Vbtn .Vicon {
  float:left;
  z-index:200;
  position:relative;
  width:40px;
  height:40px;
  line-height:40px;
  color:#FFF;
  text-align:center;
  -webkit-border-radius:3px 0px 0px 3px;
  -moz-border-radius:3px 0px 0px 3px;
  border-radius:3px 0px 0px 3px;
}
.viavi_share .Vbtn .viavi_bg_button {
  width:110px;
  height:40px;
  float:left;
  background:#DCE0E0 !important;
  display:table;
}
.viavi_share .Vbtn .viavi_bg_button > div {
  display:table-cell;
  vertical-align:middle;
  text-align:center;
}
.viavi_share .Vbtn .Vslide {
  position:absolute;
  right:0;
  top:0;
  z-index:100;
  float:left;
  width:110px;
  height:40px;
  transition:.2s transform linear;
  -webkit-transition:.2s -webkit-transform linear;
  -moz-transition:.2s -moz-transform linear;
}
.viavi_share .Vbtn .Vslide span {
  color:#fff;
  display:block;
  cursor:default;
  width:100%;
  text-align:center;
  margin:7px 0;
  padding:2px 0;
  font-size:16px;
  border-left:1px solid rgba(255,255,255,0.35);
}

/* Transition */
.viavi_share .Vbtn.Vslide_nx:hover .Vslide {
  -webkit-transform:translateX(-110px);
  -moz-transform:translateX(-110px);
  transform:translateX(-110px);
}

/* YOUTUBE */
.viavi_share .Vbtn.Vyoutube > div {
  background-color:#e22b26;
}
/*========================*/

.page-footer {
  margin-top: auto;
  color: #ffffff;
  background-color: #173d4a;
}

.page-footer .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 12px;
  padding-bottom: 14px;
}

.page-footer p {
  margin: 0;
  padding: 0;
}
